/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab&display=swap');

html, body {
    background-color: #FEF5F4;
}


li img {
    border-radius: 50%;
}

nav {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.lessons {
    font-family: "Palatino";
}

.list-unstyled {
    background-color: #FFFFFF;
    border-radius: 25px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook{
    color: #3B5998;
}

.fa-github{
    color: black;
}

.fa-linkedin{
    color: #3B5998;
}

.fa-reddit{
    color: crimson;
}

.fa-tumblr{

 }
